{% load static%}
<style>
  /* From Uiverse.io by cssbuttons-io */ 
button {
  padding: 0.6em 1.5em;
  font-family: 'Montserrat', sans-serif;
  
  color: #000;
  background-color: #bfe4a9;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
</style>
<nav class="navbar">
  <div class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'img/small_logo.png' %}" alt="Logo"></a>
  </div>

  <ul class="nav-links">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'bot' %}">Chatbot</a></li>
    <li><a href="{% url 'soil_report' %}">Crop Advisory</a></li>
    <li><a href="{% url 'weather' %}">Weather Forecast</a></button></li>
    <li><button><a href="{% url 'login' %}">Login</a></button></li>
    <li><button><a href="{% url 'register' %}">Register</a></button></li>
    <!-- <div class="round">
    <img src="{% static 'img/login-img.jpg' %}" alt="User">
  </div> -->
  </ul>

  <!-- <div class="round">
    <img src="{% static 'img/login-img.jpg' %}" alt="User">
  </div> -->
</nav>
